
:root {
    --darkColor: #1f2937;
    --mainText: #f9faf8;
    --secondaryText: #e5e7eb;
    --buttonColor: #3882f6;
    --quoteBackground: #e5e7eb;
    --darkText: var(--darkColor)

}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
section {
    flex: 1 0 auto;
    width: 100%
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
    background-color: var(--darkColor);
}
#logo {
    color: var(--mainText);
    margin-left: 1rem;

}
#navbar {
    display: flex;
    align-items: center;
    
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;

}
#navbar li {
    margin: 0 2rem;
   

}
#navbar a {
    text-decoration: none;
    color: var(--secondaryText)

}



.hero {
    background-color: var(--darkColor);
    color: var(--secondaryText);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    padding-top: 4rem;
    
}
.hero-image {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-around;
    margin: 0 1rem;
    
}
.placeholder-image {
    background-color: gray;
    width: 300px;
    height: 150px;
      
}
.hero-text {
    flex: 0 1 500px;
    margin-left: 1rem;
}
.hero input[type="button"]{
    border: none;
}
.gallery h2{
    margin-top: 2rem;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    padding: 2rem 0;
    display: flex;
    max-width: 1000px;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
    
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
}
.card-img{
    width: 150px;
    height: 150px;
    border: 5px solid var(--buttonColor);
    border-radius: 1rem;
    margin-bottom: .6rem;
}
.card-text{
    flex: 1;
}
.cite {
    background-color: var(--secondaryText);
    
}
.cite p{
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    padding: 4rem 3rem;
    max-width: 800px;
    margin: 0 auto;
}
.cite-author{
    font-weight:bold;
    display: block;
    text-align: end;
    margin-top: 1rem;
}
.call-to-act {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}
.call-to-act .banner {
    display: flex;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 0 1rem;
    border-radius: 1rem;
    gap: 2rem;
    background-color: var(--buttonColor);
    color: var(--secondaryText);
    width: 50rem;
    height: 5rem;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
   
}
.call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.call-container p, .call-container h3{
    margin:0;
}
footer{
    background-color: var(--darkColor);
    color: var(--mainText);
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}
input[value="Sign-up"]{
    background-color: var(--buttonColor);
    color: var(--mainText);
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid white;
    border-radius: 10px;

}
input[value="Sign-up"]:hover{
    color: var(--buttonColor);
    background-color: var(--mainText);
}
@media (max-width: 864px){
    .hero-image{
        padding: 2rem 0 1rem 0;
    }
}
@media (max-width: 768px){

    header{
        position: fixed;
    }
    #logo{
        font-size: 15px;
        justify-self: center;
        margin-left: 0;
        
    }
    #navbar li{
        text-align: center;
        padding: .3rem;
        
    }
    #navbar li:hover{
        background-color: var(--buttonColor);
        color: black; 
    }
    .hero{
        padding-top: 10rem;
    }
    .hero-text{
        padding: 0 1rem;
        text-align: center;
    }
    .hero-image{
        padding: 2rem 0 1rem 0;
    }
    .cite p{
        font-size: 1.5rem;
    }
    
}
