* {
    outline: 1px dotted lightblue;
}
:root {
    --darkColor: #1f2937;
    --mainText: #f9faf8;
    --secondaryText: #e5e7eb;
    --buttonColor: #3882f6;
    --quoteBackground: #e5e7eb;
    --darkText: var(--darkColor)

}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
section {
    flex: 1 0 auto;
    width: 100%
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
    background-color: var(--darkColor);
}
#logo {
    color: var(--mainText);
    margin-left: 1rem;

}
#navbar {
    display: flex;
    align-items: center;
    
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;

}
#navbar li {
    margin: 0 2rem;
   

}
#navbar a {
    text-decoration: none;
    color: var(--secondaryText)

}



.hero {
    background-color: var(--darkColor);
    color: var(--secondaryText);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    
}
.hero-image {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-around;
    
}
.placeholder-image {
    background-color: gray;
    width: 300px;
    height: 150px;
      
}
.hero-text {
    flex: 0 1 500px;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    padding: 2rem 0;
    display: flex;
    max-width: 1000px;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
    
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
}
.card-img{
    width: 150px;
    height: 150px;
    border: 5px solid var(--buttonColor);
    border-radius: 1rem;
}
.card-text{
    flex: 1;
}
.cite {
    background-color: var(--secondaryText);
    
}
.cite p{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding: 0 3rem;
}
.call-to-act {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.call-to-act .banner {
    display: flex;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
    gap: 2rem;
    background-color: var(--buttonColor);
    color: var(--secondaryText);
    width: 40rem;
    flex: 0 1 auto;
    justify-content: space-around;
   
}
@media (max-width: 768px){
    header{
        position: fixed;
    }
    .hero{
        padding-top: 5rem;
    }
    .hero-image{
        padding: 2rem 0 1rem 0;
    }
    
}
